VBSAPI/src/test/resources/VBAPI.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="VBLoad">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="DateGenerated"/>
        <xs:element name="VBLoadList">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="VB">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="VRN"/>
                    <xs:element type="xs:string" name="DateBooked"/>
                    <xs:element type="xs:string" name="TimeBooked"/>
                    <xs:element type="xs:float" name="Amount"/>
                    <xs:element type="xs:string" name="Source"/>
                    <xs:element type="xs:string" name="Target"/>
                  </xs:sequence>
                  <xs:attribute type="xs:byte" name="VBR"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>